/* plain style for Ohrenbaum */

body {
    background-color: rgba(255, 255, 255, 0.3);
    font-family: Arial,sans-serif;
    
    margin: 0; padding: 0;
}

a:link, a:visited {
    text-decoration: none;
    position: relative;
    color: #3366FF;
    padding: .2em 0;
}
a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #3366FF;
    transition: 0.4s;
}
a:hover:after, a:hover:focus {
    width: 100%;
}

blockquote {
    border-left: .3em dotted #c4c4c4;
    margin-left: 0;
    padding-left: 1em;
}

main, nav {
    padding: 2%;
}

#leaflet-map {
    height: 400px;
    box-shadow: 0 0 15px #aaa;
    border-radius: 3px;
}

@media only screen and (min-width: 800px) {
    main, nav {
        padding-left: 20%;
        padding-right: 20%;
    }
    
    dl {
        display: flex;
        flex-flow: row wrap;
    }

    dt,dd {
        padding: .5em 1em .5em 0;
    }

    /* seperation lines */
    dt:not(:last-of-type), dd:not(:last-of-type) {
        border-bottom: 1px dotted #aaa;
    }

    dt {
        font-weight: bold;
        /* break-after: avoid; */
    }
    dd {
        flex-grow: 2;
        margin: 0;
    }
    
    dl.dt20 dt { flex-basis: 20%; }
    dl.dt20 dd { flex-basis: 70%; }
    dl.dt50 dt { flex-basis: 40%; }
    dl.dt50 dd { flex-basis: 50%; }
    
    #leaflet-map {
        float: right;
        width: 40%;
        margin: 0 0 2em 2em;
    }
}

@media only screen and (max-width: 799px) {
    dt,dd {
        padding: .5em 1em .5em 0;
        margin: 0;
    }
    dt { font-weight: bold; }
    dd:not(:last-of-type) {
        border-bottom: 1px dotted #aaa; 
    }
    
    #leaflet-map {
        width: 100%;
    }
}

nav {
    padding-bottom: 1%;
    background-color: #eee;
    box-shadow: 0 0 30px #bfbfbf;
}

a.top {
    font-weight: bold;
}

div.bild {
    text-align: center;
}

div.bild img {
    width: 80%;
    max-width: 1000px;
    min-width: 400px;
    
    box-shadow: 5px 5px 20px #bdbdbd;
    border: 10px solid white;
    border-radius: 5px;
}

/* active elements with pure CSS */

nav[data-active="index.html"]             a[href="index.html"],
nav[data-active="ueber.html"]             a[href="ueber.html"],
nav[data-active="ausschreibungen.html"]   a[href="ausschreibungen.html"],
nav[data-active="impressum.html"]         a[href="impressum.html"]
{
    color: black;
}
